<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript">
        function toIndex(){
            window.location.href = ctx + "/index";
        }
    </script>
</head>
<body class="body-bg w100">
<div class="Center" style="height: 100%;">
    <div class="Container">
        <div class="Container-1" style="height: 100%;">
            <div class="Content bg" style="text-align: center;">
              <!--  <h1>{msg}</h1>-->
                <a onclick="toIndex()">Go Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>