<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function crosRequest(){
            var user={
                "userName":"11000",
                "password":"F59BD65F7EDAFB087A81D4DCA06C4910"
            };
            $.ajax({
                url:'http://localhost:8083/outboundmanage/login/logVal',
                type: 'post',
                data: JSON.stringify(user),
                contentType: 'application/json',//发送给服务器的格式
                dataType: 'json',//接收服务器数据的格式
                success:function(data){
                    $.ajax({
                        url:'http://localhost:8083/outboundmanage/login/getSession',
                        type:'post',
                        contentType: 'application/json',//发送给服务器的格式
                        dataType: 'json',//接收服务器数据的格式
                        success:function(data){
                            console.log(data);
                        }
                    });
                }

            });
        }

    </script>
</head>
<body>
<button onclick="crosRequest()">请求跨域资源</button>
</body>
</html>
